/*
* @Author: MACHENIKE
* @Date:   2017-11-21 08:40:09
* @Last Modified by:   MACHENIKE
* @Last Modified time: 2017-11-21 08:50:24
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
img{
	display: block;
	width: 100%;
	height: 100%;

}
input{
	outline: none;
	border: 0;
}

